@font-face {
  font-family: 'mainFont';
  src: url('./fonts/LEMONMILK-Medium.otf') format(opentype);
  font-weight: normal;
}

*{
  text-align: left;
}
body{
  background-color: rgb(254, 249, 175);
}
header>p {
  background-color: white;
  border: 2px solid rgb(0, 164, 164);
  color: rgb(0, 164, 164);
  box-shadow: 1px 1px 4px;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  font-family: monospace;
  font-weight: lighter;
  margin: 10px 10px 0 0;
}
header{
  display: flex;
  justify-content: end;
}
main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'mainFont';
  font-size: 13px;
  background-color: white;
  width: 88vw;
  max-width: 500px;
  min-width: 240px;
  padding: 15px;
  text-align: center;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.593);
  box-shadow: 1px 1px 2px black;
  border-radius: 10px;
}
img#logo{
  width: 55%;
}
p#inform{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 21px;
}
input#valuesearch{
  font-family: monospace;
  font-size: 12px;
  outline: 0;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: rgb(219, 219, 219);
  width: 90%;
}
div#searchArea{
  margin: auto;
  text-align: center;
  display: flex;
  gap: 1.5vw;
}
input#searchButton{
  border: 0.5px solid gray;
  border-radius: 40%;
  text-align: center;
  width: 10%;
  padding: 1.5cqmin;
  font-size: 2.5cqmin;
}
#ipLink{
  text-align: center;
  width: max-content;
  margin: 20px 10px 10px 10px;
  padding: 6px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
}
#ipLink::after{
  content: ' ⬅️';
}
#ipLink::before{
  content: '➡️ ';
}
footer{
  background-color: white;
  width: 100%;
  position: fixed;
  top: 100%;
  left: 0%;
  transform: translate(-0%, -100%);
}
footer>p{
  text-align: center;
  font-family: 'mainFont';
  font-size: 10px;
  margin: 0;
}